{# Template for problem #}

<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ problem[here]["title"] }}</title>

        {{ module["judge_utils.js"] }}
    </head>

    <body>
        <h1>{{ problem[here]["problemTitle"] }}</h1>
        <h2>問題文</h2>
        <div>{{ problem[here]["problemStatement"] }}</div>

        <h2>入力</h2>
        <div>{{ problem[here]["inputDescription"] }}</div>
        {% if not problem[here]["inputFilePath"] == "" %}
        <p><a href="{{ baseURL }}{{ problem[here]["inputFilePath"] }}" download>入力ファイル</a></p>
        {% endif %}

        <h2>出力</h2>
        <div>{{ problem[here]["outputDescription"] }}</div>

        {% if not problem[here]["moreInformation"] == "" %}
        <h2>補足</h2>
        <div>{{ problem[here]["moreInformation"] }}</div>
        {% endif %}

        <h2>提出</h2>
            <label for="{{ here }}_fileinput"><p>提出ファイルを選択してください。</p></label>
            <input type="file" id="{{ here }}_input" name="{{ here }}_fileinput">
            <button id="{{ here }}_submit">提出</button>
            <p>ジャッジ詳細情報</p>
            <div id="{{ here }}_judge_details"></div>

            <!-- ジャッジスクリプト -->
            <script>
                document.addEventListener("DOMContentLoaded", () => {
                    const form = document.getElementById("{{ here }}_input");
                    const sub_btn = document.getElementById("{{ here }}_submit");

                    sub_btn.addEventListener("click", () => {
                        if (!is_file_selected(form)) {
                            alert("提出ファイルが選択されていません。");
                            return;
                        }

                        form.files[0].text().then((user_submission) => {
                            const ok = check(user_submission);
                            if (ok) {
                                alert("正解！");
                            }
                            else {
                                alert("不正解...");
                            }
                            form.value = "";
                        });


                        function check (user_submission) {
                            let input = "";
                            {% if not problem[here]["inputFilePath"] == "" %}
                            input = String.raw`{{ other[problem[here]["inputFilePath"]]["value"] }}`;
                            {% endif %}

                            let answer = "";
                            {% if not problem[here]["outputFilePath"] == "" %}
                            answer = String.raw`{{ other[problem[here]["outputFilePath"]]["value"] }}`;
                            {% endif %}

                            // LFへ統一
                            input = normalize_newlines_to_lf(input);
                            answer = normalize_newlines_to_lf(answer);
                            user_submission = normalize_newlines_to_lf(user_submission);

                            {% if not problem[here]["judgeFilePath"] == "" %}
                            const f = {{ other[problem[here]["judgeFilePath"]]["value"] }}
                            const editable_element = document.getElementById("{{ here }}_judge_details");
                            const ok = f(user_submission, input, answer, editable_element);
                            {% else %}
                            const ok = strict_match_ignore_trailing_newline(user_submission, answer);
                            {% endif %}

                            return ok;
                        }
                    });
                });
            </script>
    </body>
</html>
